i.icon,
img.icon {
    display: inline-block;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    transition: 0.2s;

    &.up {
        transform: rotate(-180deg);
    }

    &.down {
        transform: rotate(180deg);
    }

    &.left {
        transform: rotate(-90deg);
    }

    &.right {
        transform: rotate(90deg);
    }
}
i.icon {
    background: currentColor;
}

.icon {
    height: 20px;
    width: 20px;
}
