.dropdown {
    display: none;

    &.is-open {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #fff;
        margin-top: 5px;
        right: 0;
        padding: 10px;
        background-color: #f8fafd;
        box-shadow: 0px 8px 40px 0px #00000040;
        border-radius: 12px;
    }
}
