<div
    class="password-input"
    [class.is-focused]="isFocused"
    [class.is-invalid]="valueProps?.invalid && valueProps?.touched"
>
    <input
        class="password-input__input"
        [type]="inputType"
        [formControl]="valueProps | formControl"
        (focus)="onFocus()"
        (blur)="onBlur()"
    />

    <label>{{ placeholderProps | translate }}</label>

    <div class="password-input__actions">
        <ng-container *ngIf="valueProps?.value?.length">
            <ui-icon class="clear-value" [icon]="'xmark'" (click)="clearValue()"></ui-icon>
            <span> | </span>
        </ng-container>

        <ui-icon
            class="show-password"
            [icon]="isPasswordVisible ? 'eye' : 'eye-slash'"
            (click)="toggleShowPassword()"
        ></ui-icon>
    </div>
</div>

<ui-validation-error
    [isTouched]="valueProps?.touched"
    [validatedErrors]="valueProps?.errors || null"
></ui-validation-error>
